.home {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results__title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  color: #777;
}

.results__count {
  font-size: 12px;
  color: #777;
}
